<app-navtoolbar></app-navtoolbar>
<div class="container">
  <div class="title-section">
    <h2>Consulta por Id</h2>
  </div>
  <form [formGroup]="consultaForm">
    <mat-form-field appearance="fill">
      <mat-label>Digite um id</mat-label>
      <input matInput placeholder="Ex. 1" type="number" formControlName="user">
    </mat-form-field>
  </form>
  <div>
    <div class="example-button-row">
      <button mat-raised-button class="btn-buscar" (click)="buscarPorId()">Buscar</button>
    </div>
  </div>
  <div>
    <h2 class="title-section">Nome</h2>
  </div>
  <div>
    <span>{{consulta.name}}</span>
  </div>
</div>

