<app-navtoolbar></app-navtoolbar>
<div class="container">
  <div class="title-section">
    <h2>Consulta por Id</h2>
  </div>
  <form [formGroup]="consultaForm">
    <mat-form-field appearance="fill">
      <mat-label>Digite um id</mat-label>
      <input matInput placeholder="Ex. 1" type="number" formControlName="user">
    </mat-form-field>
    <button (click)="buscarPorId()">Adicionar</button>
  </form>
  <div>
    <h2>Nome</h2>
  </div>
  <div>
    <span>Nome retornado api</span>
  </div>
</div>

