.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-section {
  margin-top: 50px;
  color: #1b304d;
}

.btn-buscar {
  background-color: #1b304d;
  color: white;
}

.btn-buscar:hover {
  background-color: #2d4669;
}
