<app-navtoolbar></app-navtoolbar>
<div class="container">
  <div class="title-section">
    <h2>Calcule um empréstimo</h2>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Digite numero de parcelas</mat-label>
    <input matInput placeholder="Ex. 1" type="number" class="example-right-align">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Valor parcelas R$</mat-label>
    <input matInput placeholder="Ex. 19,99" type="number" class="example-right-align">
  </mat-form-field>
  <div>
    <h2>Valor Total</h2>
  </div>
  <div>
    <span>R$ Valor retornado api</span>
  </div>
</div>

