<app-navtoolbar></app-navtoolbar>
<div class="container">
  <div class="title-section">
    <h2>Calcule um empréstimo</h2>
  </div>
  <form class="form" [formGroup]="cadastroForm">
    <mat-form-field appearance="fill">
      <mat-label>Digite numero de parcelas</mat-label>
      <input matInput placeholder="Ex. 1" type="number" class="example-right-align" formControlName="qntParcela">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Valor parcelas R$</mat-label>
      <input matInput placeholder="Ex. 19,99" type="number" class="example-right-align" formControlName="valorParcela">
    </mat-form-field>
  </form>
  <div>
    <div class="example-button-row">
      <button mat-raised-button class="btn-calcular" (click)="enviarDados()">Calcular</button>
    </div>
  </div>
  <div>
    <h2 class="title-section">Valor Total</h2>
  </div>
  <div>
    <span *ngIf="cadastro != undefined">
      <h4>R$ {{cadastro.valorFinal.toFixed(2)}}</h4>
    </span>
  </div>
</div>

